<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Get in Touch</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        *{
          margin: 0;
          padding: 0;
        }
        .max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
          
            .root{
                display: flex;
                align-items: center;
                justify-content: center;
                /* color: white; */
        
               
            } 
            
            .subdiv{
                width: 100%;
                margin-top: 30px;
                padding: 20px;
            } 
            .aligncenter{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .gap{
              padding: 15px;
            }
            /* contact section styling */
            .contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 25px;
    color: #00D1B2;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: #00D1B2;
  border: 2px solid #00D1B2;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: #00D1B2;
  background: none;
}
/* footer section styling */
footer{
    background: #111;
    padding: 15px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #00D1B2;
    text-decoration: none;
}
footer span a:hover{
    text-decoration: underline;
}
          </style>
</head>
<body style="background-color: #ecf0f1;">
    <div style="display: flex; justify-content: center; align-items: center; ">
        <div style="width: 70%; height: 100vh; background-color: white;">

    <!-- Navigation Bar  -->
    <nav class="navbar" style="background:#ffbe76; " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" >
            <img src="/images/lms.png" width="100px" height="150vh">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/first/first">
              Home
            </a>
      
            <a class="navbar-item">
              Assignment
            </a>
      
            <a class="navbar-item">
              Notes
            </a>

            <a class="navbar-item">
              About
            </a>

            <a class="navbar-item">
              Contact
            </a>

          </div>
      
         
        </div>
      </nav>
      <form action="/first/contactCustomer">
      <section class="contact" id="contact">
        <div class="max-width">
            <br>
            <h2 class="title root">Contact me</h2>
            <div class="contact-content">
                <div class="column left">
                    <div class="text">Get in Touch</div>
                    <p>Let's make something awesome together. Please fill out the quick form and we will be in touch with lightning speed.</p>
                    <div class="icons">
                        <div class="row">
                            <i class="fas fa-user"></i>
                            <div class="info">
                                <div class="head">Founder</div>
                                <div class="sub-title">Yashika Singhal</div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <i class="fas fa-map-marker-alt"></i>
                            <div class="info">
                                <div class="head"><a href="https://goo.gl/maps/UeSxGmGz6BhBRhBX9" target="_blank"> Address</a></div>
                                <!-- <div class="sub-title">Singhal Bhawan Jayendraganj<br> Lashkar, Gwalior</div> -->
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <i class="fas fa-envelope"></i>
                            <div class="info">
                                <div class="head"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=yashikasinghal0020@gmail.com">Email</a></div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <i class="fab fa-linkedin"></i>
                            <div class="info">
                                <div class="head"><a href="https://linkedin.com/in/yashika-singhal-11221a205/"> LinkedIn</a></div>
                                
                            </div>
                        </div>

                    </div>
                </div>
                <br>
                <div class="column right">
                    <div class="text">Message me</div>
                    <form action="#">
                        <div class="fields">
                            <div class="field name">
                                <input class="input is-success" name='name' type="text" placeholder="Name" required>
                            </div>
                            <div class="field email">
                                <input class="input is-success" name='mailid' type="email" placeholder="Email" required>
                            </div>
                        </div>
                        <br>
                        <div class="field">
                            <input class="input is-success" name='sub' type="text" placeholder="Subject" required>
                        </div>
                        <div class="field ">
                            <textarea  name='msg' class="input is-success" cols="30" rows="10" placeholder="Message.." required></textarea>
                        </div>
                        <div >
                            <p class="control">
                                <div class="buttons">
                                  <button class="button is-primary" type="submit">Submit</button>
                                </div>
                              </p>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <div class='gap'></div>
    <br>
    <br>
    <!-- footer section start -->
    <footer>
        <span>Created By <a href="#">YashikaS</a> | <span class="far fa-copyright"></span> 2021 All rights reserved.</span>
    </footer>
</form>  
</body>
</html>