<!DOCTYPE html>
<html lang="en">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Set New Password</title>
    <style>
        *{
          margin: 0;
          padding: 0;
        }
          
            .root{
                display: flex;
                align-items: center;
                justify-content: center;
                /* color: white; */
        
               
            } 
            
            .subdiv{
                width: 100%;
                margin-top: 30px;
                padding: 20px;
            } 
            .aligncenter{
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .gap{
              padding: 15px;
            }
          </style>
</head>
<body style="background-color: #ecf0f1;">
    <div style="display: flex; justify-content: center; align-items: center; ">
        <div style="width: 70%; height: 150vh; background-color: white;">

    <!-- Navigation Bar  -->
    <nav class="navbar" style="background:#ffbe76; " role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" >
            <img src="/images/lms.png" width="100px" height="150vh">
          </a>
      
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
      
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/first/first">
              Home
            </a>
      
            <a class="navbar-item">
              Assignment
            </a>
      
            <a class="navbar-item">
              Notes
            </a>

            <a class="navbar-item">
              About
            </a>

            <a class="navbar-item">
              Contact
            </a>

          </div>
      
         
        </div>
      </nav>
      <form action="/first/updatePassword">
      <div class="row aligncenter" style=" padding: 20px;">
        <div  style=" width: 70%;background-color: #ecf0f1;border-radius: 5px; padding: 30px; border: 2px solid black;">
         <div class='aligncenter gap'>
           <h2 style=" font-weight: bold;  color: darkviolet;">Set New Password</h2>
         </div>
         <div class="col">
            <div class="field">
              <label class="label">Email</label>
              <div class="control has-icons-left has-icons-right">
                <input required name="mail" required class="input is-success" type="email" placeholder="Email input">
                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                <span class="icon is-small is-right">
                  <!-- <i class="fa fa-exclamation-triangle"></i> -->
                </span>
              </div>
          </div>
          </div>
          <br>
          <div class='col'>
            <div class="field">
              <label class="label">Birth Date</label>
                <p class="control has-icons-left has-icons-right">
                  <input required name="dob"  required class="input is-success" id='birthdate' type="date">
                  <span class="icon is-small is-left">
                    <i class="fa fa-calendar-check-o" aria-hidden="true"></i>
                  </span>
                </p>
              </div>
            </div>
<br>
            <div class="col">
                <div class="field">
                  <label class="label">Choose New Profile Password </label>
                  <div class="control has-icons-left has-icons-right">
                    <input required name="pswd" required class="input is-success" type="password">
                    <span class="icon is-small is-left">
                      <i class="fa fa-lock"></i>
                    </span>
                  </div>
              </div>
            </div>
<br>
            <div class="col">
                <div class="field is-grouped is-grouped-centered">
                  <p class="control">
                    <div class="buttons">
                      <button class="button is-primary" type="submit">Submit</button>
                      <button class="button is-primary" type="reset">Reset</button>
                     
                    </div>
                  </p>
                </div>
               </div>

        </div>
      </div>
    </div>
</form>
</body>
</html>